<div class="container-fluid">
  <h1>Welcome to Magic The Gathering Deck Builder</h1>

</div>

<div class="thumbnail" id="img-rounded">
  <img src="http://s3.amazonaws.com/digitaltrends-uploads-prod/2014/06/magic-the-gathering.jpg"
   alt="magic-the-gathering">

</div>
